<tr *ngIf="product" >
  <td>{{product.id}} </td>
  <td>{{product.name}}</td>
  <td>{{product.quantity}}</td>
  <td>{{product.price}}</td>
  <td>{{product.selected}}</td>
  <td>{{product.available}}</td>
  <td>
    <button (click)="onSelectProduct(product)"[ngClass]="product.selected?'btn-outline-success':'btn-outline-danger'" class="btn ">
      <i *ngIf="product.selected" class="fa fa-volume-up" aria-hidden="true"></i>
      <i *ngIf="!product.selected" class="fa fa-volume-down" aria-hidden="true"></i>
    </button>
  </td>
  <td>
    <button (click)="onDeleteProduct(product)"  class="btn btn-outline-danger">
      <i  class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </td>
  <td>
    <button (click)="onUpdateProduct(product.id)"  class="btn btn-outline-danger">
      <i  class="fa fa-upload" aria-hidden="true"></i>
    </button>
  </td>
</tr>
