

<div class="row">
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h4>Commandes</h4>
          </div>
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0  font-weight-bold">Nombre</p>
              <h5 class="font-weight-bolder mb-0">

                <span style="font-size:20px !important"  class="text-success text-sm font-weight-bolder  ">{{sommeNombre}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <hr style="background-color:brown" >
        <div class="row mt-2">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Montant global</p>
              <h5 class="font-weight-bolder mb-0">
                <span style="font-size:20px !important"  class="text-info text-sm font-weight-bolder  ">{{sommeglobal}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <hr style="background-color:brown" >
        <div class="row mt-2">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Cantine Stratégique</p>
              <h5 class="font-weight-bolder mb-0">
                <span style="font-size:20px !important" class="text-info text-sm font-weight-bolder  ">{{sommevendeuse}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <hr style="background-color:brown" >
        <div class="row mt-2">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Cantine Ordinaire</p>
              <h5 class="font-weight-bolder mb-0">
                <span style="font-size:20px !important"  class="text-info text-sm font-weight-bolde r  ">{{sommeprestataire}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h4>Revenus</h4>
          </div>

        </div>
        <div class="row mt-2">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Revenu global</p>
              <h5 class="font-weight-bolder mb-0">
                <span style="font-size:20px !important"  class="text-info text-sm font-weight-bolder  ">{{sommeRevenuglobal}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <hr style="background-color:brown" >
        <div class="row mt-2">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Dette</p>
              <h5 class="font-weight-bolder mb-0">
                <span style="font-size:20px !important" class="text-success text-sm font-weight-bolder  ">{{resteASolder}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <!-- <hr style="background-color:brown" >
        <div class="row mt-2">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Revenu stagnant</p>
              <h5 class="font-weight-bolder mb-0">
                <span style="font-size:20px !important"  class="text-info text-sm font-weight-bolde r  "> 250 000 Fc</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div> -->
      </div>
    </div>

  </div>

  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">

            <div class="col-12 d-flex justify-content-center align-items-center">
              <h4>Achats</h4>
            </div>


          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Somme</p>
              <h5 class="font-weight-bolder mb-0">

                <span style="font-size:20px !important"  class="text-success text-sm font-weight-bolder">{{sommeAchats}}</span>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="background-color:brown" >
